/* main.scss */
/* colors */
/* $primary: rgba(114, 137, 218, 1.0);*/
/* $primary: #3D5AFE; */
/* $primary: #F06292; */
/* $primary: #5C6BC0;*/
/* $primary: #78909C;*/
/* $primary: #;*/
/* $primary: #;*/
/* $primary: #;*/
/* background gradient */
input, textarea, button, label, option, select, .button, .hndle, .form-step {
  -webkit-transition: 0.25s cubic-bezier(0.64, 0.2, 0.02, 0.35);
  transition: 0.25s cubic-bezier(0.64, 0.2, 0.02, 0.35); }

html {
  position: absolute;
  height: 100%;
  width: 100%; }

hr {
  /* border-color: $primary;*/ }

ul {
  display: inline-block;
  padding-right: 2rem; }

body {
  position: relative;
  min-height: 100%;
  width: 100%;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #fcdddc;
  background-image: linear-gradient(-5deg, #fac6c5, #fcdddc);
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sub-container {
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 2px;
  padding: 24px;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  background-color: #fbfbfb; }

.center {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

h1 {
  color: #ef5350; }

h2 {
  color: #ef5350; }

h3 {
  color: #ef5350; }

h4 {
  color: #ef5350; }

h5 {
  color: #ef5350; }

h6 {
  color: #ef5350; }

label {
  font-size: 12px;
  opacity: 0.7; }

select {
  width: 95%; }

input {
  background: transparent;
  padding: 8px 8px !important;
  display: inline !important;
  font-size: 13px !important;
  width: 95% !important; }
  input:hover {
    border-color: #999; }
  input:focus {
    border-color: #ef5350 !important; }
  input:focus::-webkit-input-placeholder {
    color: #ef5350; }
  input:focus:-ms-input-placeholder {
    color: #ef5350; }
  input:focus::placeholder {
    color: #ef5350; }

strong {
  opacity: 0.7; }

select {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-size: 12px !important; }
  select:hover {
    border-color: #999; }
  select:focus {
    border-color: #ef5350 !important; }

textarea {
  width: 95% !important;
  font-size: 13px !important; }
  textarea:hover {
    border-color: #999; }
  textarea:focus {
    border-color: #ef5350 !important; }

.btn {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 15%;
  padding-right: 15%;
  border-color: #ef5350 !important;
  color: #ef5350; }
  .btn:hover {
    opacity: 0.9;
    background-color: #ef5350; }
  .btn:active {
    background-color: #c71612; }

.disabled {
  border-color: #AAAAAA !important;
  background: transparent !important;
  color: #AAAAAA !important; }

.btn-primary {
  background: #ef5350;
  color: white; }
  .btn-primary:hover {
    background-color: transparent;
    color: #ef5350; }
  .btn-primary:active {
    background-color: #f8afad; }

.btn.btn-primary-outline {
  border-color: #ef5350;
  color: #ef5350; }
  .btn.btn-primary-outline:hover {
    color: white;
    background: #ef5350; }
  .btn.btn-primary-outline:active {
    background-color: #c71612; }

.btn-sm {
  margin-top: 0 !important;
  margin-bottom: 16px; }

.card {
  border: 0 !important;
  border-radius: 4px;
  background-color: #fbfbfb;
  margin-top: 40px; }

.card-header {
  /* background-color: lighten($primary, 10%);*/
  background: transparent; }

.outline {
  border: 1px solid #ef5350;
  border-radius: 5px;
  padding: 8px; }

.hidden {
  display: none; }

.show {
  display: block; }

.margin-correct {
  margin-top: 8px !important; }

.form-group {
  margin-bottom: 0; }

form .row {
  margin-top: 5px; }

.required {
  color: red;
  display: inline; }

.error {
  border-color: #DC3545 !important; }

.btn-round {
  border-radius: 100px !important; }

/*# sourceMappingURL=main.css.map */
